
*{
    margin: 0;
    border: 0;
    user-select: none;
}

body{
    background-color: #00d000;
}
.holebody{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -600px;
    width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.hole{
    position: relative;
    width: 250px;
    height: 150px;
    margin: 50px;
    background: #63622c;
    border-radius: 50% / 50%;
}
.mouseup{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -68px;
    margin-left: -100px;
    width: 200px;
    height: 136px;
    overflow: hidden;
}
.mouseup>img{
    position: absolute;
    top: 130px;
    width: 200px;
    height: 136px;
    animation: mouse 2s linear;
    animation-fill-mode: forwards;
}

#gbtn{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px;
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.3);
}
#gbtn>h1{
    display: block;
    width: 300px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 10px;

}
.btn{
    margin-top:100px;
    width: 100px;
    height: 50px;
    /*display: none;*/
}
#time{
    /*position: absolute;*/
    width: 200px;
    height: 200px;
    font-size: 32px;
    line-height: 200px;
    text-align: center;
    margin: 0 auto;
}

@keyframes mouse {
    30%{top: 0}
    70%{top: 0}
    100%{top:130px}
}

.end{
    display: none;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 470px;
    margin-top: -250px;
    margin-left: -50vw;
    background-color: rgba(0,0,0,0.3);
    font-size: 58px;
    text-align: center;
    padding-top: 30px;
}
#result{
    color: red;
    font-size: 100px;
}
#restart{
    width: 100px;
    height: 50px;
}

@media screen and (max-width: 1080px) {
    .holebody{
        position: absolute;
        top: 40%;
        left: 50%;
        margin-top: -250px;
        margin-left: -50vw;
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

}

